.App {
  background-color: #1C1C1D;
  height: 100vh;
}

.map {
  padding: 30px;
}

.timeline {
  position: fixed;
  top: 10%;
  right: 0;
  height: 80%;
  width: 10%;

  color: #ffffff;
  font-size: 1.5em;
  text-align: center;
}