@font-face {
  font-family: 'Bembo';
  src: url('./fonts/BemboStd.otf');
}

@font-face {
  font-family: 'Bembo-Bold';
  src: url('./fonts/BemboStd-Bold.otf');
}

@font-face {
  font-family: 'Bembo-Semibold';
  src: url('./fonts/BemboStd-Semibold.otf');
}

.App {
  background-color: #1C1C1D;
  height: 100vh;
  font-family: 'Bembo';
}

.map {
  padding: 30px;
}

.card {
  position: fixed;
  background-color: white;
  width: 300px;
  padding: 5px 20px;
}

.timeline {
  position: fixed;
  top: 10%;
  right: 0;
  height: 80%;
  width: 10%;

  color: #ffffff;
  font-size: 1.5em;
  text-align: center;
}

.bolded {
  font-family: 'Bembo-Bold';
}

.title {
  font-size: 21px;
  font-family: 'Bembo-SemiBold';
}

.info {
  font-size: 14px;
  margin: 0;
}

.description {
  font-size: 12px;
}

.link {
  color: #8BC2EF;
  text-decoration: none;
}

.link:hover {
  color: rgb(113, 180, 235);
}